{% extends 'base.html' %}

{% block title %}Delete Habit{% endblock %}

{% block content %}
<h1>Delete Habit</h1>
<br>
<h2>{{ habit }}</h2>
<h3>Goal: {{ habit.target }}</h3>
<h3>Description:</h3>
<p>{{ habit.description }}</p>
<br>
<table>
    <tr>
        <th>Date</th>
        <th>Number Completed</th>
        <th>Goal Reached?</th>
    </tr>
</table>
<br>
<h4>Are you sure you want to delete this habit and all of its records?</h4>
<form method='POST'>
    {% csrf_token %}
    <button type='submit'>Delete</button>
</form>
{% endblock %}