{% extends 'base.html' %}

{% block title %}Habit Details{% endblock %}

{% block content %}
<h1>Habit Details</h1>
<br>
<h2>{{ habit }}</h2>
<h3>Goal: {{ habit.target }}</h3>
<h3>Description:</h3>
<p>{{ habit.description }}</p>
<br>
<table>
    <tr>
        <th>Date</th>
        <th>Number Completed</th>
        <th>Goal Reached?</th>
    </tr>
    {% for record in habit.records.all %}
    <tr>
        <td><a href="{% url 'record_details' record.pk %}">{{ record.date }}</a></td>
        <td>{{ record.number_completed }}</td>
        {% if record.number_completed >= record.habit.target %}
            <td>✅</td>
        {% else %}
            <td>❌</td>
        {% endif %}
    </tr>
    {% endfor %}
</table>
<br>
<button><a href="{% url 'edit_habit' habit.pk %}">Edit Habit</a></button>
<button><a href="{% url 'delete_habit' habit.pk %}">Delete Habit</a></button>
<button><a href="{% url 'add_record' habit.pk %}">Add Record</a></button>
{% endblock %}